<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About astro collective</title>
    <link rel="stylesheet"  type="text/css" href="main.css" />
</head>
<body>
    <% if (appState === 'loggedin') { %>
        <p><a href="logout" id="sign-up">log out</a></p>
    <% } else { %>
        <p><a href="login" id="sign-up">log in</a></p>
    <% } %>

    <div class="navbar">
        <div class="navbar-container">
            <div class="navbar-item-one">
                <h1><a href="/" id="app-title"><%= appName %></a></h1>
            </div>
            <div class="navbar-item-two">
                <p><a href="astronauts" class="navbar-astro">astronauts</a></p>
            </div>
            <div class="navbar-item-two">
                <p><a href="missions" class="navbar-astro">missions</a></p>
            </div>
            <div class="navbar-item-two">
                <p><a href="spacecraft" class="navbar-astro">spacecraft</a></p>
            </div>
            <div class="navbar-item-two">
                <p><a href="spacecraft" class="navbar-astro <%= currentPage === 'about' ? 'active' : '' %>">about</a></p>
            </div>
        </div>
    </div>

    <div class="about-container">
        <h2>About astro collective</h2>
        <div class="about-content">
            <p>Welcome to astro collective, your go-to resource for exploring the vast universe of astronauts, missions, and spacecraft. We are passionate about space exploration and dedicated to building a comprehensive catalog for enthusiasts and curious minds alike.</p>
            <p>We encourage space enthusiasts to contribute to our database to help us continually improve our catalogue. Create an account or log in to start adding to our growing database!</p>
            <p>We provide a number of APIs for astronaut, mission, and spacecraft data:</p>
            <p>Astronauts:</p>
            <p><a href="https://www.doc.gold.ac.uk/usr/201/astronautapi">https://www.doc.gold.ac.uk/usr/201/astronautapi</a></p>
            <p><a href="https://www.doc.gold.ac.uk/usr/201/astronautapi?keyword=john">https://www.doc.gold.ac.uk/usr/201/astronautapi?keyword=john</a></p>
            <p>Missions:</p>
            <p><a href="https://www.doc.gold.ac.uk/usr/201/missionapi">https://www.doc.gold.ac.uk/usr/201/missionapi</a></p>
            <p><a href="https://www.doc.gold.ac.uk/usr/201/missionapi?keyword=sts">https://www.doc.gold.ac.uk/usr/201/missionapi?keyword=sts</a></p>
            <p>Spacecraft:</p>
            <p><a href="https://www.doc.gold.ac.uk/usr/201/spacecraftapi">https://www.doc.gold.ac.uk/usr/201/spacecraftapi</a></p>
            <p><a href="https://www.doc.gold.ac.uk/usr/201/spacecraftapi?keyword=shuttle">https://www.doc.gold.ac.uk/usr/201/spacecraftapi?keyword=shuttle</a></p>
        </div>
    </div>
</body>
</html>