<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about</title>
    <link rel="stylesheet"  type="text/css" href="main.css" />
</head>
<body>
    <% if (appState === 'loggedin') { %>
        <p><a href="logout" id="sign-up">log out</a></p>
    <% } else { %>
        <p><a href="login" id="sign-up">log in</a></p>
    <% } %>

    <div class="navbar">
        <div class="navbar-container">
            <div class="navbar-item-one">
                <h1><a href="/" id="app-title"><%=appName%></a></h1>
            </div>
            <div class="navbar-item-two">
                <p><a href="astronauts" class="navbar-astro">astronauts</a></p>
            </div>
            <div class="navbar-item-two">
                <p><a href="missions" class="navbar-astro">missions</a></p>
            </div>
            <div class="navbar-item-two">
                <p><a href="spacecraft" class="navbar-astro">spacecraft</a></p>
            </div>
            <div class="navbar-item-two">
                <p><a href="spacecraft" class="navbar-astro <%= currentPage === 'about' ? 'active' : '' %>">about</a></p>
            </div>
        </div>
    </div>
</body>
</html>