<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add astronaut</title>
    <link rel="stylesheet"  type="text/css" href="main.css" />
</head>
<body>
    <h1><a href="/" id="app-title"><%=appName%></a></h1>
    <p><a href="register" id="sign-up">sign up</a></p>

    <div class="centered-form-content">
        <h2>Add astronaut</h2>
        <form method="POST" action="/addedastronaut" class="form-details">
            <label for="astro-name">Astronaut name:</label><br>
            <input id="astro-name" type="text" name="astroname" placeholder="Astronaut name" class="form-data"/><br>

            <label for="astro-photo">Astronaut photo:</label><br>
            <input id="astro-photo" type="text" name="astrophoto" placeholder="URL of astronaut photo" class="form-data"/><br>

            <label for="astro-dob">Date of birth:</label><br>
            <input id="astro-dob" type="date" name="astrodob" class="form-data"/><br>

            <label for="astro-dod">Date of death (if applicable):</label><br>
            <input id="astro-dod" type="date" name="astrodod" class="form-data"/><br>

            <label for="astro-country">Country:</label><br>
            <input id="astro-country" type="text" name="astrocountry" placeholder="Astronaut country" class="form-data"/><br>

            <label for="astro-spacetime">Time in space (in hours):</label><br>
            <input id="astro-spacetime" type="number" name="astrospacetime" placeholder="Hours in space" class="form-data"/><br>

            <label for="astro-profile">Astronaut summary:</label><br>
            <textarea id="astro-profile" name="astroprofile" cols="30" rows="10" placeholder="Astronaut achievements, missions, etc" class="form-data"></textarea><br>
            
            <input type="submit" value="submit" class="form-button"/>
        </form>

    </div>
</body>
</html>