<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>astro collective Home</title>
    <link rel="stylesheet"  type="text/css" href="main.css" />
</head>
<body>
    <% if (appState === 'loggedin') { %>
        <p><a href="logout" id="sign-up">log out</a></p>
    <% } else { %>
        <p><a href="login" id="sign-up">log in</a></p>
    <% } %>

    <div class="navbar">
        <div class="navbar-container">
            <div class="navbar-item-one">
                <h1><a href="/" id="app-title"><%= appName %></a></h1>
            </div>
            <div class="navbar-item-two">
                <p><a href="astronauts" class="navbar-astro">astronauts</a></p>
            </div>
            <div class="navbar-item-two">
                <p><a href="missions" class="navbar-astro">missions</a></p>
            </div>
            <div class="navbar-item-two">
                <p><a href="spacecraft" class="navbar-astro">spacecraft</a></p>
            </div>
            <div class="navbar-item-two">
                <p><a href="about" class="navbar-astro">about</a></p>
            </div>
        </div>
    </div>

    <div class="intro-container">
        <p class="intro-text">astro collective catalogues astronauts, missions, and spacecraft for your enjoyment. If you are passionate about space exploration and would like to contribute to our database, create an account or log in.</p>
    </div>

    <div class="home-flex">
        <div class="nasa-api-container">
            <h3 class="nasa-api-title">NASA Photo of the Day</h2>
            <a href="astrophoto">
                <img src="<%= imageUrl %>" alt="<%= title %>" class="nasa-photo">
            </a>
        </div>
        <div class="home-flex-two">
            <div class="quote-container">
                <p class="quote-text-quote">"When you look at the stars and the galaxy, you feel that you are not just from any particular piece of land, but from the solar system."</p>
                <p class="quote-text-author"><i>- Kalpana Chawla</i></p>
            </div>
            <a href="peopleinspace" class="people-in-space-a">
                <div class="people-in-space-container">
                    <p class="people-in-space">Who is in space right now?</p>
                </div>
            </a>
        </div>
    </div>

    <footer>
        <p><a href="astrophoto">NASA Astronomy Photo of the Day</a></p>
    </footer>
</body>
</html>