/* importing fonts */ 
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Sometype+Mono:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

html {
    font-family: 'Open Sans', sans-serif;
}

#app-title {
    font-family: 'Sometype Mono', monospace, sans-serif;
    font-weight: 500px;
    margin: 20px;
    text-decoration: none;
    color: black;
}

#sign-up {
    color: black;
    text-decoration: none;
    margin: 20px;
    padding: 10px;
    border-radius: 3px;
    position: absolute;
    top: 0;
    right: 0;
}

#sign-up:hover {
    background-color: rgb(218, 218, 218);
}

.centered-form-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-details {
    width: 30%; 
}

.form-data {
    width: 100%; 
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.form-button {
    color: black;
    border-radius: 3px;
    border: none;
    padding: 10px;
    background-color: rgb(218, 218, 218);
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    margin-top: 10px;
}

/*
.form-button:hover {
    background-color: rgb(218, 218, 218);
}*/

.below-form-button {
    color: rgb(19, 19, 205);
    text-decoration: none;
}

.below-form-button:hover {
    text-decoration: underline;
}

/* astronaut pages */
.astro-list {
    list-style: none;
}

.astro-list:hover {
    color: rgb(102, 102, 102);
}

.astronaut-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
}

.astronaut-container a {
    text-decoration: none; 
    color: inherit; 
}

.astronaut {
    flex: 0 0 25%;
    margin: 1%;
    padding: 10px;
    background-color: rgb(238, 238, 238);
    text-align: center;
}

.astronaut-title {
    font-weight: 800;
}

.astronaut-photo {
    width:  200px;
    height: 250px;
    object-fit: cover;
}

.astronaut-text-style {
    font-family: 'Sometype Mono', monospace, sans-serif;
    font-weight: 200;
}

.add-astro-position {
    display: flex;
    flex-direction: row-reverse;
}

.add-astro {
    text-decoration: none;
    color: inherit;
    margin-right: 20px;
    padding: 10px;
    border-radius: 3px;
}

.add-astro:hover {
    background-color: rgb(218, 218, 218);
}

/* add astronaut page */
#astro-profile {
    height: 200px;
    white-space: pre-wrap;
}

/* single astronaut page */
.single-astronaut-container {
    padding: 20px;
}

.single-astro-back {
    text-decoration: none;
    color: inherit;
    margin-left: 20px;
    padding-right: 10px;
    padding-left: 10px;
}

.single-astro-back:hover {
    background-color: rgb(218, 218, 218);
    border-radius: 50%;
}

.single-astro-list {
    list-style: none;
}

.single-astro-flex-container {
    display: flex;
    flex-direction: row;
}

.single-astro-flex-two {
    margin-left: 20px;
}

.single-astronaut-title {
    font-size: 30px;
}