/* importing fonts */ 
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Sometype+Mono:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto+Mono:wght@300;400&family=Sometype+Mono:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Open+Sans&family=Roboto+Mono:wght@300;400&family=Sometype+Mono:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Open+Sans&family=Roboto&family=Roboto+Mono:wght@300;400&display=swap');

html {
    font-family: 'Roboto Mono', monospace;
    background-color: rgb(14, 5, 63);
}

#app-title {
    font-family: 'Sometype Mono', monospace, sans-serif;
    font-weight: 500px;
    margin: 20px;
    text-decoration: none;
    color: white;
}

#sign-up {
    transition: 0.4s ease;
    color: rgb(192, 221, 254);
    background-color: rgba(139, 168, 201, 0.3);
    text-decoration: none;
    border-radius: 5px;
    margin: 20px;
    padding: 10px;
    position: absolute;
    top: 0;
    right: 0;
}

#sign-up:hover {
    color: white;
    border-radius: 20px;
}

/* navbar styling */
.navbar {
    display: flex;
}

.navbar-container {
    display: flex;
    align-items: center; 
    margin-top: -10px;
}

.navbar-item-two {
    margin-top: 5px;
}

.navbar-astro {
    transition: 0.4s ease;
    text-decoration: none;
    color: rgb(192, 221, 254);
    margin-left: 30px; 
    padding: 10px;
    border-radius: 5px;
}

.navbar-astro:hover {
    color: white;
    background-color: rgba(144, 81, 196, 0.3);
}

.navbar-astro.active {
    color: white;
    background-color: rgba(144, 81, 196, 0.3);
}

.centered-form-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.form-details {
    width: 30%; 
}

.form-data {
    font-family: 'Roboto Mono', monospace;
    width: 100%; 
    margin-bottom: 20px;
    margin-top: 10px;
    padding: 10px;
    box-sizing: border-box;
    background-color: rgba(93, 112, 136, 0.3);
    color: white;
    border: none;
    border-radius: 5px;
}

.form-button {
    transition: 0.4s ease;
    color: rgb(14, 5, 63);
    background-color: rgba(139, 168, 201, 0.8);
    font-family: 'Roboto Mono', monospace;
    font-weight: 900;
    border-radius: 5px;
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    margin-top: 5px;
}


.form-button:hover {
    border-radius: 20px;
    background-color: rgba(139, 168, 201, 0.9);
    color: black;
}

.below-form-button {
    transition: 0.4s ease;
    color: rgba(139, 168, 201);
    text-decoration: none;
}

.below-form-button:hover {
    color: rgb(192, 221, 254);
    text-decoration: underline;
}

/* astronaut, mission pages */
.astro-list {
    list-style: none;
}

.astro-list:hover {
    color: rgb(102, 102, 102);
}

.data-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    margin-top: -15px;
}

.data-container a {
    text-decoration: none; 
    color: inherit; 
}

.data {
    transition: 0.4s ease;
    flex: 0 0 25%;
    margin: 1%;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(93, 112, 136, 0.3);
    color: rgb(192, 221, 254);
    text-align: center;
}

.data:hover {
    color: white;
    background-color: rgba(139, 168, 201, 0.3);
}

.data-title {
    font-weight: 600;
}

.astronaut-photo {
    width: 200px;
    height: 250px;
    object-fit: cover;
}

.mission-photo {
    height: 250px;
}

.craft-photo {
    height: 250px;
}

.data-text-style {
    font-weight: 200;
}

.add-data-position {
    display: flex;
    flex-direction: row-reverse;
}

.add-data {
    transition: 0.4s ease;
    text-decoration: none;
    background-color: rgba(139, 168, 201, 0.3);
    color: rgb(192, 221, 254);
    font-size: 20px;
    border-radius: 50%;
    margin-right: 65px;
    padding: 5px 12px 5px 12px;
}

.add-data:hover {
    color: white;
    border-radius: 5px;
}

/* add astronaut page */
#astro-profile {
    height: 200px;
    white-space: pre-wrap;
}

/* single astronaut, mission page */
.single-data-container {
    margin: 30px;
    padding: 20px;
    background-color: rgba(93, 112, 136, 0.3);
    color: white;
}

.single-data-back {
    transition: 0.4s ease;
    text-decoration: none;
    background-color: rgba(139, 168, 201, 0.3);
    color: rgb(192, 221, 254);
    padding: 5px 12px 5px 12px;
    border-radius: 50%;
    font-size: 20px;
    margin-left: 20px;
}

.single-data-back:hover {
    color: white;
    border-radius: 5px;
}

.single-data-flex-container {
    display: flex;
    flex-direction: row;
}

.single-data-flex-two {
    margin-left: 20px;
}

.single-data-title {
    font-size: 30px;
}

/*search form*/
.search-form {
    margin-left: 40px;
    margin-top: 10px;
}

.search-bar {
    font-family: 'Roboto Mono', monospace;
    padding: 10px;
    background-color: rgba(93, 112, 136, 0.3);
    color: white;
    border: none;
    border-radius: 5px;
}

.search-button {
    transition: 0.4s ease;
    color: rgb(14, 5, 63);
    background-color: rgba(139, 168, 201, 0.8);
    font-family: 'Roboto Mono', monospace;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-button:hover {
    border-radius: 20px;
    background-color: rgba(139, 168, 201, 0.9);
    color: black;
}

.search-data-back {
    transition: 0.4s ease;
    text-decoration: none;
    background-color: rgba(139, 168, 201, 0.3);
    color: rgb(192, 221, 254);
    padding: 5px 12px 5px 12px;
    border-radius: 50%;
    font-size: 20px;
    margin-left: 40px;
}

.search-data-back:hover {
    color: white;
    border-radius: 5px;
}

.data-unavailable {
    color: white;
    margin-top: 180px;
    text-align: center;
}